<!DOCTYPE html>
<html>

	<head>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset='utf-8'>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>结算</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="keywords" content="">
		<meta name="description" content="">
	    <link rel="stylesheet" type="text/css" href="css/base.css" /> 
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
	   <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
      <script type="text/javascript" src="js/jquery.form.min.js"></script>
         
	</head>

	<body>
		<!--header star-->
		<div class="header clearfix">
			
			<div th:insert="index::.toubu"></div>
		</div>
			 
		</div>
		<!--header end-->

		<!--navbar star-->
		<div class="navbar clearfix">
			<div class="content clearfix">
				<ul>
					<li ><a href="index">首页</a></li>
					<li><a href="mall">商城</a></li>
					<li><a href="special">一市一县</a></li>
					<li><a href="area">助力地区</a></li>
				</ul>
			</div>
		</div>
		<!--navbar end-->

		<!--Main-wrap-->
		<div class="main-wrap graybg pt40 pb40" id="jie">
			<div class="js-box wrapper white-box">
				<!--收货人信息-->
				<div class="consignee-info">
					<div class="title line-bot"><span class="fs18 pl20 ml40 darkgray">收货人地址</span></div>
					<div class="consignee-box clearfix">
					     
						<div  th:each="a:${user.address}" class="consignee-block check-box check_on  radius5" >
							  <div class="fs14 clearfix" >
								   <p class=" clearfix" style="float:left">
									 
									<span class="fl darkgray" th:if="${a.addDft}=='1'" th:text="默认地址"> </span>
								   </p>
								 <div class = "ra">
	 	                              <input id="check" type="radio" v-model="check"  name = "check"  th:value="${a.addId}" class = "ra"   checked  ></input>   
 		                          
		                          </div>
                              </div>
							<p class="fs14 lh40 clearfix">
								<span class="fl darkgray"><i class="iconfont fs24">&#xe60e;</i> </span>
								<span class="fl darkgray" th:text="${a.addName}"> </span>
							</p>
							<p class="fs14 clearfix lh40">
							    <span class="fl darkgray"><i class="iconfont fs24"> &#xe60c;</i></span>
								<span class="fl darkgray" th:text="${a.addPhone}">17378787878</span>
							</p>
								<p class="fs14 clearfix lh40  ">
									<span class="fl darkgray"><i class="fl iconfont fs24">&#xe610;</i>
									<span class="fl address" th:text="${a.addAddr}"> </span>
								</p>
						    
						       
						</div>
				 	<div class="consignee-block radius5 tc add-info">
							<a href="javascript:" class="full-db alertbox">
								<span class="full-db add pt40"></span>
								<span class="full-db fs14">添加新地址</span>
							</a>
						</div>
					</div>
				</div>
				<!--/end-->


				<!--/end-->
				<!--goodssale-->
				<div class="goodssale">
					<div class="wrapper" th:each="od:${order}">
					     
						<div class="shopping-list pt40 pb40">
							<table class="table_1 table_shopping white-box">
								<tr>
									<th width="40%">商品</th>
									<th width="18%">单价(元)</th>
									<th width="14%">数量</th>
									<th width="14%">小计(元)</th>
									<th width="14%">操作</th>
								</tr>
						<ul >
						  <li th:each="ord:${od.ordertail}">
						  
						<tr   th:each="cl:${ord.product}">
							 <td  >

								<p class="o-goods-info ml20 clearfix pt10 pb10">
									<a href="#" class="fl"><span><img th:src="${cl.pImg}" alt=""></span></a>
									<span class="fl tit mt5 ml10" th:text="${cl.pName}"></span>
								</p>
							</td>
							<td th:text="${cl.price}"></td>
							<td>
								 <p th:text="${ord.dCount}"></p>
							</td>
							<td><span class="orange" th:text="${ord.dTotal}" ></span></td>
							<td>
								<button th:value="${cl.pId}" style="border:none"   th:onclick="javascript:del([[${cl.pId}]],[[${cl.price}]])" ><i class="iconfont fs26">&#xe60b;</i></button>
							</td>
						</tr>
 
						  </li>
						
						</ul>
					</table>
					<div class="shopping-result white-box mt20 clearfix">
 						<p class="fr">
							<button  @click="zhifu() "  class="fr orange-but fs20" style="background: #AF1622;border:none">支&nbsp;&nbsp;&nbsp;&nbsp;付</button>
							<span class="fr pr20 fs14 " >总计：<em class="orange fs24" th:if="${od.oTotal}!=null " th:text="'￥'+${od.oTotal}">&nbsp;&nbsp;</em></span>
						</p>
					</div>
						</div>
					</div>
				</div>
				<!--/end-->
             
			</div>
		</div>
		 <script>
		 
		 function  exit(){

				axios.get("exit").then(res=>{
					 
					window.location.href=res.data.msg;
					
				})
			    }
		  	 //使用th:onclick来传参并调用js删除指定pId
        	function del(pId,price){
        			this.pId=pId;
        			this.price=price;
        	 
        			axios.get("delorder?pId="+this.pId+"&price="+this.price).then(res=>{
        				 
        				if(res.data.code==1){
        					window.location.reload();
        				}
        				
        			})
        		}
		  	 
        	 
		  	   var vue=new Vue({
		  		   el:"#jie",
		  		   data:{
		  			   check:[[${addrid}]],//默认地址
		  			 oid:[[${order.oId}]] 
		  		   },
		  		 methods:{
		  	    	 zhifu(){ 
		                 
		                	var  addId=this.check;
		                	  
		                	axios.get("zhifu?addId="+addId+"&oid="+this.oid).then(res=>{0       
		                		  
		                		if(res.data.code==1){
		                			location.href="fukuan";
		                				}else{
		                					 alert(res.data.msg);
		                				}
		                	})
		  	       }
		  	  
		  	   }
		  	 })
		  	 $(function(){
	  			   
	 				$("#form1").ajaxForm(function(data){  
	 				 
	 					if(data.code==0){
	 						alert(data.msg); 
	 					}
	 					if(data.code==1){
	 						window.location.reload();
	 					}
	 					 
	 					 
	 				});     
	 			});
		  	  
		 </script>
		<!--/end-->

		<!--footer star-->
		<div class="footer clearfix">
			 <div class="weibu" th:include="index::.weibu">
			 <div class="banquan clearfix ta-center">

			</div>
		</div>
		<!--footer end-->
		 
		
       <div id="mask" >
			<div class="alert-box radius8">
				<h3 class="fs20">添加收货地址 </h3>
				<div class="address-form box-s">
					<form id="form1" action="addaddress" method="post">
						<p class="mb20 clearfix">
							<label class="fl">收货人：</label>
							<input type="text"  name="addName" placeholder="姓名" class="fl ml5">
							<em class="fl red lh40 ml10">*</em>
						</p>
						<p class="mb20 clearfix">
							<label class="fl">手机：</label>
							<input type="text" name="addPhone" placeholder="手机" class="fl ml5">
							<em class="fl red lh40 ml10">*</em>
						</p>
						<p class="mb20 clearfix">
							<label class="form1">地址：</label>
							<input type="text" name="shen" placeholder="省/直辖市"  id="" class="fl ml5" style="width:60px">
								 
							</input>
							<input type="text" name="shi" placeholder="城市"  id="" class="fl ml5" style="width:60px">
								 
							</input>
							<input type="text" name="xian" placeholder="区县"  id="" class="fl ml5" style="width:60px">
 							</input>
 						</p>
						<p class="mb20 clearfix">
							<label class="fl"></label>
							<input type="text" name="xianxi" placeholder="详细地址" class="fl ml5">
							<em class="fl red lh40 ml10">*</em>
						</p>
						<p class="mb20 clearfix">
							<label class="fl">设为默认地址</label>
							<select   name="addDft" class="fl ml5">
							     <option value="0">否</option>
							    <option value="1">是</option>
							   
							</select>
							<em class="fl red lh40 ml10">*</em>
						</p>
						<p class="mb20 clearfix">
							<label class="fl">邮政编码：</label>
							<input type="text" name="you" placeholder="邮政编码" value="" class="fl ml5">
						</p>
						<p class="mb20 clearfix">
							<label class="fl"></label>
							<button  onclick="" class="fl orange-but radius3 ml5" style="color: #929292">保&nbsp;&nbsp;存 </button>
							<button    class="fl orange-but radius3 ml10"  th:onclick="javascript:close()" style="color: #929292">取&nbsp;&nbsp;消</button>  
							 
						 </p>
					</form>
 				 
				</div>
				<script>
				function close(){
			  		 alert("dejdie");
					  document.getElementById("mask").style.display = "none";
			  
		  	    }
				</script>
			</div>
		</div> 
		 
		 
	</body>
	<script src="js/other.js" type="text/javascript" ></script>

</html>