<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset='utf-8'>
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>商城</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="css/page.css" />
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
</head>

<body>
<!--header star-->
<div id="fl">
<div class="header clearfix">
 <div th:insert="index::.toubu"></div>
 <div class="bottom clearfix">

		<div class="search clearfix fr ra5" id="s">
			<input type="text" class="fl" value="" id="sou"  placeholder="请输入您要搜索的内容" />
			<input type="button"  value="搜索"  @click="sousuo()" class="fl box-s" />
		</div>
	</div>
</div>
<!--header end-->

<!--navbar star-->
<div class="navbar clearfix">
	<div class="content clearfix">
		<ul>
			<li><a href="index">首页</a></li>
			<li class="cur"><a href="mall">商城</a></li>
			<li><a href="special">一市一县</a></li>
			<li><a href="area">助力地区</a></li>
		</ul>
	</div>
</div>
<!--navbar end-->
   
<!--mall star-->
<div class="mall clearfix">


	<!--sales star-->
	<div class="sales clearfix">
		<div  class="content clearfix">
				<div class="listed clearfix box-s">
					<div class="list clearfix fl">
						<p class="bt fl">
							分类：
						</p>
						<div   class="right clearfix fl">
							<ul th:each="cl :${clist}">
								<a th:href="'mall?#'+${cl.pcId}" @click="fenlei()">
								<li th:text="${cl.pcName}">特 产</li></a>
								 
							</ul>
						</div>
						 	 
					</div>

				</div>

			<div class="bottom clearfix" id="f1">
               <ul> 
                 <li   v-for="mc in mclist">
					<div class="list clearfix transition">
						<div class="tu clearfix">
							<a :href="'pro_detail?#'+mc.pId">
								<img :src="mc.pImg"/>
							</a>
							<span></span>
						</div>
						<div class="xia clearfix box-s">
							<p class="bt over"  >
								{{mc.pName}}
							</p>
							<div class="price clearfix">
								<span class="fl">
								  ￥{{mc.price}}
								</span>
 
							</div>
						</div>
					</li>
				</ul>
				</div>
    
				  <!--所搜结果显示  -->  
	<div class="sales clearfix" v-if="p!=0">
	  <div class="content clearfix"> 
		<div class="bottom clearfix">
               <ul> 
                  <li v-for="p in plist"> 
					     <div class="list clearfix transition">
					        <div class="tu clearfix">
						      <a :href="'pro_detail?#'+p.pId">  
						        <img :src="p.pImg"/>
						        <span></span>
					          </a> 
					        </div>
						   <div class="xia clearfix box-s">
						         <p class="bt over" >{{p.pName}}</p>
						      
						      <div class="price clearfix">
							     <span class="fl" >￥{{p.price}} </span>
							      <a :href="'pro_detail?#'+p.pId" class="goumai fr ra3 transition">立即购买</a>
						      </div>
					       </div> 
						  </div>
			  
						</li> 
						
				</ul> 
		
		</div>
	   </div>
	  </div>
            <div class="page clearfix ta-right">
                     
						<a type="button" class="pre box-s"  @click="up()">上一页</a>
						<span>第{{this.pageNum}}页</span>
						
						<a type="button" class="next box-s" @click="down()">下一页</a>

					</div>


			</div>
  
		</div>
	</div>
	<!--sales end-->
</div>

    <script type="text/javascript">
     
    function  exit(){

		axios.get("exit").then(res=>{
			 
			window.location.href=res.data.msg;
			
		})
	    }
						   var vue=new Vue({
							   el:"#fl",
							   data:{
								   pCid:"",
								   p:0,   /* 作为是否搜索展示的flag*/
								   mclist:[],
								  plist:[],/* */
						          pageNume:"",
						          pages :""
						          
							   },
							   created:function(){
								   
								   this.pCid=location.hash.substr(1);
								        if(this.pCid==null){
								        	this.pCid=1;
								        }
								         axios.get("Fenlei?pCid="+this.pCid).then(res=>{
								        	 this.mclist=res.data.list;
								        	  this.pageNum= res.data.pageNum;//当前页数字
								        	  this.pages=res.data.pages;//总页数
								        	 
								         }) 
									 
							   },
							  
							  methods: {
								   fenlei(){
									   this.p=0;
								         this.pCid=location.hash.substr(1);
								         document.getElementById('f1').style.display='block';
								         axios.get("Fenlei?pCid="+this.pCid).then(res=>{
								            this.mclist=res.data.list;
								            this.pageNum= res.data.pageNum;
								            
								         }) 
									
							       },
							       sousuo(){
							    	   this.p=1;
								    	var txt=document.getElementById("sou").value;
								    	 axios.get("sou?txt="+txt).then(res=>{
								    		  if(res.data!=null){
								    			  document.getElementById('f1').style.display='none';
								    			 this.plist=res.data;
								    			 
								    		  }
								    	 })
								    	 
								       } ,
								   up(){
									   this.pCid=location.hash.substr(1);
									  
									   this.pageNum=this.pageNum-1;
									   if(this.pageNum<1){
										   this.pageNum= 1;
									   }
									   axios.get("Fenlei?pCid="+this.pCid+"&pageNum="+this.pageNum).then(res=>{
								            this.mclist=res.data.list;
								            
								         })  
								   } ,
								  down(){
									   this.pCid=location.hash.substr(1);
									  
									   this.pageNum=this.pageNum+1;
									   if(this.pageNum>this.pages){
										   this.pageNum= this.pages;
									   }
									   axios.get("Fenlei?pCid="+this.pCid+"&pageNum="+this.pageNum).then(res=>{
								            this.mclist=res.data.list;
								             
								         })  
								   } 
								   }
								   
						   });
						
						</script>

    
 
<!--mall end-->

<!--footer star-->
<div class="weibu" th:include="index::.weibu">
	
</div>
<!--footer end-->

</body>

<script src="js/other.js" type="text/javascript" ></script>
</html>